# Common

# Secrets
*.env

# MS Office temporary files
*~$*.doc
*~$*.docx
*~$*.ppt
*~$*.pptx
*~$*.xls
*~$*.xlsx

# C++ executables
cpp_build/

# Certain files by lab

# ML hw2 model weights
courses/ML/hw2/data/*.hdf5

# Course Paper historical data
courses/Course-Paper/data/historical/data_to*
courses/Course-Paper/data/historical/daily_data_for*

# NLP hw1 data
courses/NLP/hw1/data/*.csv
